go 1.25.0

use (
	.

	./.example

	./integrations/amqp/v3

	./integrations/bunorm

	./integrations/bunorm/migrate
	./integrations/bunorm/migrate/v2
	./integrations/bunorm/migrate/v3

	./integrations/bunorm/mysql
	./integrations/bunorm/mysql/v2
	./integrations/bunorm/mysql/v3

	./integrations/bunorm/pgsql
	./integrations/bunorm/pgsql/v2
	./integrations/bunorm/pgsql/v3
	./integrations/bunorm/v2
	./integrations/bunorm/v3

	./integrations/cron
	./integrations/cron/v2
	./integrations/cron/v3

	./integrations/awss3/v3

	./integrations/outbox/v3

	./integrations/opentelemetry/v3

	./integrations/websocket/v3

	./integrations/rueidis
	./integrations/rueidis/v2
	./integrations/rueidis/v3
	./v2
	./v2/.example
	./v3
	./v3/.example
)
